body {
  margin: 0;
  padding: 0;
}
:root {
  --main-header-color: #ffffff;
  --main-bg-color: #ebe8ec;
  --secondary-bg-color: #eefd77;
  --avatar-bg-color: #258750;
  --primary-text-color: #5255c8;
  --secondary-text-color: rgba(0, 0, 0, 0.96);
  --primary-gray-color: rgba(0, 0, 0, 0.6);
  --secondary-gray-color: rgba(0, 0, 0, 0.38);
}
